.categoryList{
  flex-direction: column;
  background-color:#EBEBEB;
}

.category{
  position: absolute;
  top: 20%;
  left: 20%;
  width:700px;
  height: 700px;
}

.inputNewCategory{
  float:right;
  margin-left: 50px;
}

.futerInput{
  position: sticky;
  margin-top: 110px;
  margin-left: 300px;
}