.app {
  /* background-color:darkgrey; */
  position: absolute;
  top: 20%;
  left: 20%;
  width: 700px;
  height: 700px;
}



.header {
  display: inline-block;
  height: 100px;
}


.footer {
  height: 100px;
}
